.main{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid purple;
}
.im1{
    height: 50px;
    width: 50px;
}
h3{
    font-size: larger;
    color: purple;
    margin-top: 7px;
}
.icon{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid purple;
    display: grid;
    place-items: center;
    margin-left: 33pc;
}
.acc{
    height: 30px;
    width: 60px;
    border-radius: 40px;
    border: 1px solid purple;
    font-size:x-small;
    display: grid;
    place-items: center;
    
}
.menu{
    height: 30px;
    width: 60px;
    border-radius:40px ;
    border: 1px solid purple;
    font-size:x-small;
    display: grid;
    place-items: center;
}